body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.77rem;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: rgb(78, 78, 78);
    padding: 1rem;
    margin-bottom: 0;
}

.bq {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

.subcontainer {
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 6rem 0 6rem;
    padding: 25px 15px;
}

.tit {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
}

.mayus {
    text-align: start;
    text-transform: capitalize;
    text-decoration: underline;
    margin: 0;
}

.ital {
    padding: 10px 20px;
    font-style: italic;
    background-color: rgba(209, 209, 209, 0.384);
}

.caja1 {
    background-color: rgb(231, 231, 231);
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.301);
}

.caja2 {
    background-color: rgba(250, 206, 124, 0.658);
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.301);
}

.relativo {
    display: flex;
    position: relative;
    background-color: rgba(153, 252, 219, 0.466);
    padding: 15px;
    border-radius: 5px;
}

.absoluto {
    position: absolute;
    background-color: rgb(89, 167, 219);
    color: white;
    padding: 10px;
    border-radius: 5px;
    top: 30px;
    right: 0;
    margin-right: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: rgba(128, 128, 228, 0.836);
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px;
    color: white;
}

.animacion {
    margin: 10px 0px 5px 20px;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: background-color 0.6s, transform 0.6s;
}

.animacion:hover {
    background-color: rgb(22, 22, 44);
    cursor: pointer;
    transform: scale(1.1);
    transition: background-color 0.6s, transform 0.6s;
}

.mover {
    margin: 40px 0px 5px 20px;
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
    animation: moverCirculo 3s infinite;
}

@keyframes moverCirculo {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgba(172, 122, 221, 0.671);
    }

    .absoluto {
        left: 10rem;
        right: 2rem;
        top: 2rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .bq {
        margin: 0;
        padding-bottom: 20px;
    }

    .subcontainer {
        margin: 1rem 3rem 0rem 3rem;
    }
}

@media screen and (max-width: 450px) {
    .absoluto {
        left: 0;
        margin-left: 20px;
        top: 50px;
    }

    .subcontainer {
        margin: 1rem 1rem 0rem 1rem;
    }
}